body > section {
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
margin-bottom: 2em;
background-color: rgb(236, 234, 230);
padding: 0.4em;
border-radius: 5px;
}

section {
padding-top: 1em;
}

.grid_1-1-1 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1em;
}

.grid_2-1 {
display: grid;
grid-template-columns: 2fr 1fr;
gap: 1em;
}

.grid_5-3 {
display: grid;
grid-template-columns: 5fr 3fr;
gap: 1em;
}

img {
width: 100%;
height: auto;
border-radius: 5px;
}



@media (max-width: 800px){
.grid_1-1-1, 
.grid_2-1, 
.grid_5-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
}