@media (min-width: 768px) 
    {
.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.flex_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.flex_column > :last-child {
    margin-top: auto;
}
.grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.uafbrudt_column {
    grid-column: 1 / -1;
}


main {
    max-width: 1200px;
    margin: 0 auto;
}


.dl_grid_1-1 {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    h2, p {
        grid-column: 1 / -1;
    }
}

.photo_placement_2_span_2 {
    grid-column: 2;
    grid-row: 1 / span 2;
}
.photo_placement_2_span_3 {
    grid-column: 2;
    grid-row: 1 / span 3;
}
.photo_placement_1_span_2 {
    grid-column: 1;
    grid-row: 1 / span 2;
}
.photo_placement_1 {
    grid-column: 1;
    grid-row: 1;
}
.grid_placement_2 {
    grid-row: 2;
}

.grid_placement_R2 {
    grid-column: 2;
}
.grid_placement_2-2 {
    grid-column: 2;
    grid-row: 2;
}












    }