@font-face {
    font-family: font1;
    src: url(../fonte/playwrite.woff2);
}

@font-face {
    font-family: font2;
    src: url(../fonte/font2.woff2);
}
@font-face {    
    
    font-family: font2-1;
    src: url(fonte/font2-1.woff2);  
} /*OBS: font2 og font2-1 er 2 varianter af samme font */
body {
}
header {
    background-color: rgb(228, 228, 228);
    padding: 20px;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-right: -2rem;
}
footer {
    background-color: rgb(228, 228, 228);
    text-align: center;
    padding: 1rem;
    margin-left: -2rem;
    margin-bottom: -2rem;
    margin-right: -2rem;
}
* {
    font-family: font2-1;
}

h1 {
    font-family: font1;
    margin-left: 1rem;
}
h2 {
    font-family: font1;
    margin: 5px;
    margin-left: 1rem;
}
h3 {
    margin-bottom: 0rem;
    font-family: font1;
    margin-left: 1rem;
}
p {
    font-family: font2;
    margin-top: 0rem;
    margin-left: 1rem;
}
img {
    width: 100%;
    max-width: 768px;
    padding: 0rem;
}
button {
    background-color: orange;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 1rem;
}


* {
    box-sizing: border-box;
    
}
section {
    margin-top: 2rem;
    border: 0px solid black;
    margin-bottom: 4rem;
    padding-left: 0.6rem;
}