@font-face {
  font-family: font1;
  src: url(../fonte/playwrite.woff2);
}
@font-face {
  font-family: font2;
  src: url(../fonte/font2.woff2);
}
@font-face {
  font-family: font2-1;
  src: url(../fonte/font2-1.woff2);
}

header {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-left: -2rem;
  margin-top: -2rem;
  margin-right: -2rem;
}
ul {
  list-style: none;
  font-family: font2;
  line-height: 1.5;
}
.cta-btn {
  color: white;
  background-color: orange;
  max-width: 400px;
  max-height: 5rem;
  padding: 10px 16px;
  margin: 1rem;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid rgb(227, 125, 0); 
}
.cta-btn:hover {
    background-color: rgb(227, 125, 0);
    transition: background 0.15s ease-in-out;
    }

/* header ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
} */

footer {
  background-color: rgb(228, 228, 228);
  text-align: center;
  padding: 1rem;
  margin-left: -2rem;
  margin-bottom: -2rem;
  margin-right: -2rem;
}
* {
  font-family: font2-1;
}

h1 {
  font-family: font1;
  margin-left: 1rem;
}
h2 {
  font-family: font1;
  margin: 5px;
  margin-left: 1rem;
}
h3 {
  margin-bottom: 0rem;
  font-family: font1;
  margin-left: 1rem;
}
.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

p {
  font-family: font2;
  margin-top: 0rem;
  margin-left: 1rem;
}
img {
  width: 100%;
  max-width: 768px;
  padding: 0rem;
}
button {
  background-color: orange;
  padding: 15px;
  font-family: font1;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}
section {
  margin-top: 2rem;
  border: 0px solid black;
  margin-bottom: 4rem;
  padding-left: 0.6rem;
}
